{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="page_header">
        توان - Exponentiation
    </div>
    <div class="form_and_description">
        <div class="form_and_description_form">
            <form action="/exponentiation" method="post">
                {% csrf_token %}
                {{ exponentiation_form.as_p }}
                <input type="submit" value="محاسبه">
            </form>
        </div>
        <div class="form_and_description_description">
            <div class="form_and_description_description_fa">
                توان یک عملیات ریاضی است که به صورت b^n نوشته می شود. این عملیات به صورت b به توان n خوانده می شود و در آن b به عنوان پایه و n به عنوان توان شناخته می شود. هنگامی که n یک عدد صحیح مثبت باشد این عملیات معادل n بار ضرب b در خودش است.
            </div>
            <div class="form_and_description_description_en">
                In mathematics, exponentiation is an operation involving two numbers: the base and the exponent or power. Exponentiation is written as bn, where b is the base and n is the power. When n is a positive integer, exponentiation corresponds to repeated multiplication of the base: that is, bn is the product of multiplying n bases.
            </div>
        </div>
    </div>
    {% if form_submitted %}
        <div class="result"> 
            <div>
                <span>نتیجه: {{ result }}</span>
            </div>
            <div>
                <img src="{% static file_name %}" width="100%">
            </div>
        </div>
    {% endif %}
{% endblock %}
