{% extends 'base.html' %}
{% block content %}
  
  <!--<div class="homepage_category_header">مجموعه ها</div>-->


  <div class="homepage_links_row">
    <span class="homepage_links_cell">
      <a href="./fibonacci">فیبوناچی</a>
    </span>
    <span class="homepage_links_cell">
      <a href="./factorial">فاکتوریل</a>
    </span>
    <span class="homepage_links_cell">
      <a href="./trigonometry">مثلثات</a>
    </span>
  </div>
  <div class="homepage_links_row">
    <span class="homepage_links_cell">
      <a href="./exponentiation">توان</a>
    </span>
    <span class="homepage_links_cell">
      <a href="./absolute">قدر مطلق</a>
    </span>
    <span class="homepage_links_cell">
      <a href="./gcd_lcm">ب م م - ک م م</a>
    </span>
  </div>
  
{% endblock %}